<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" 
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
   xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
       http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <servlet-name>AddCustomerServlet</servlet-name>
    <servlet-class>ejb30.AddCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCustomerServlet</servlet-name>
    <url-pattern>/addCustomer</url-pattern>
  </servlet-mapping>
  <security-constraint>	
         <web-resource-collection>
                <web-resource-name>bank service example</web-resource-name>
                <url-pattern>/*</url-pattern>
         </web-resource-collection>
         <auth-constraint>
                <role-name>bankemployee</role-name>
         </auth-constraint>
</security-constraint>	
   <login-config>
  		<auth-method>BASIC</auth-method>
  		<realm-name>file</realm-name>
   </login-config> 
</web-app>



  




